{%extends 'base.html'%}

{%block title%}Shop{%endblock%}
<br>
{%block content%}
<div class="container bg-black mt-5 p-3">
    <h3 class="item">Shop</h3><br>
    <div class="row">
    <div class="col">
    <div class="card p-4 mb-3" style="width: 250px;">
        <img class="card-img-top" src="/static/logo-m.png">
        <div class="card-body">
            <h6 class="card-title">Epson L3250</h6>
            <p class="card-text">Inktank printer with wifi</p>
            <p><strong>Ksh 24 000</strong></p>
            <a href="" class="nav-link bg-warning p-2"></i><i class="fa-brands fa-whatsapp"></i> Order now</a>
        </div>
    </div>
    </div>
    <div class="col">
        <div class="card p-4" style="width: 250px;">
            <img class="card-img-top" src="/static/logo-m.png">
            <div class="card-body">
                <h4 class="card-title">Epson L3250</h4>
                <p class="card-text">Inktank printer with wifi</p>
                <p><strong>Ksh 24 000</strong></p>
                <a href="" class="nav-link bg-warning p-2"></i><i class="fa-brands fa-whatsapp"></i> Order now</a>
            </div>
        </div>
        </div>
        <div class="col">
            <div class="card p-4" style="width: 250px;">
                <img class="card-img-top" src="/static/logo-m.png">
                <div class="card-body">
                    <h4 class="card-title">Epson L3250</h4>
                    <p class="card-text">Inktank printer with wifi</p>
                    <p><strong>Ksh 24 000</strong></p>
                    <a href="" class="nav-link bg-warning p-2"></i><i class="fa-brands fa-whatsapp"></i> Order now</a>
                    
                </div>
               
            </div>
            </div>
            <div class="col">
                <div class="card p-4" style="width: 250px;">
                    <img class="card-img-top" src="/static/logo-m.png">
                    <div class="card-body">
                        <h4 class="card-title">Epson L3250</h4>
                        <p class="card-text">Inktank printer with wifi</p>
                        <p><strong>Ksh 24 000</strong></p>
                        <a href="" class="nav-link bg-warning p-2"></i><i class="fa-brands fa-whatsapp"></i> Order now</a>
                    </div>
                </div>
                </div>
                <div class="col">
                    <div class="card p-4" style="width: 250px;">
                        <img class="card-img-top" src="/static/logo-m.png">
                        <div class="card-body">
                            <h4 class="card-title">Epson L3250</h4>
                            <p class="card-text">Inktank printer with wifi</p>
                            <p><strong>Ksh 24 000</strong></p>
                            <a href="" class="nav-link bg-warning p-2"></i><i class="fa-brands fa-whatsapp"></i> Order now</a>
                        </div>
                    </div>
                    </div>
                    <div class="col">
                        <div class="card p-4" style="width: 250px;">
                            <img class="card-img-top" src="/static/logo-m.png">
                            <div class="card-body">
                                <h4 class="card-title">Epson L3250</h4>
                                <p class="card-text">Inktank printer with wifi</p>
                                <p><strong>Ksh 24 000</strong></p>
                                <a href="" class="nav-link bg-warning p-2"></i><i class="fa-brands fa-whatsapp"></i> Order now</a>
                            </div>
                        </div>
                        </div>

    </div>
</div>
{%endblock%}